.header {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd; /* 변경된 테두리 색상 */
  background-color: #ffffff9a; /* 변경된 배경색 */
  color: #000; /* 변경된 텍스트 색상 */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
