.PaymentPage {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.box_section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 1%), 0 6px 6px rgb(0 0 0 / 6%);
  padding: 50px 50px 50px 50px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  color: #333d4b;
  align-items: center;
  text-align: center;
  overflow-x: auto; /* Add this property for horizontal scrolling */
  white-space: nowrap; /* Prevent text wrapping */
}

.paymentMethod {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

.radioLabel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radioLabel input {
  margin-right: 10px;
  margin-top: 10px;
}

.button {
  color: #f9fafb;
  background-color: #3182f6;
  margin: 30px 15px 0px 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
  text-align: center;
  /* vertical-align: middle; */
  cursor: pointer;
  border: 0 solid transparent;
  user-select: none;
  text-decoration: none;
  border-radius: 7px;
  padding: 11px 16px;
  width: 250px;
}

.button2 {
  color: #000000;
  background-color: #ffffff;
  margin: 30px 15px 0px 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
  text-align: center;
  /* vertical-align: middle; */
  cursor: pointer;
  border: 1px solid #000000;
  user-select: none;
  text-decoration: none;
  border-radius: 7px;
  padding: 11px 16px;
  width: 125px;
}

.button2.active {
  background-color: rgb(229 239 255);
}

.button:hover {
  color: #fff;
  background-color: #1b64da;
}
