<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shoppingMall.Orders.mapper.OrdersMapper">
    <select id="findByCustomerId" resultType="com.example.shoppingMall.Orders.model.Orders">
        SELECT
            o.id,
            o.order_id,
            o.total_price,
            o.status,
            op.id as product_id,
            op.price as product_price,
            op.quantity as product_quantity
        FROM orders o
        LEFT JOIN orders_products op on op.order_id = o.order_id
        WHERE o.customer_id = #{id}
    </select>
    <select id="findProductsByOrderId" resultType="com.example.shoppingMall.Orders.model.OrdersProducts">
        SELECT
            id,
            order_id,
            product_id,
            price,
            quantity
        FROM orders_products
        WHERE order_id = #{order_id}
    </select>
    <insert id="saveOrders" parameterType="com.example.shoppingMall.Orders.model.Orders">
        INSERT INTO orders (
            order_id,
            customer_id,
            status,
            total_price
        ) VALUES (
            #{order_id},
            #{customer_id},
            '0',
            #{total_price}
        )
    </insert>
    <insert id="saveOrdersProducts" parameterType="com.example.shoppingMall.Orders.model.OrdersProducts">
        INSERT INTO orders_products (
            order_id,
            product_id,
            price,
            quantity
        ) values (
            #{order_id},
            #{product_id},
            #{price},
            #{quantity}
        )
    </insert>

</mapper>