.homePage {
  display: column;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: #333;
}

.searchResult {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center; /* 텍스트를 중앙에 정렬 */
  width: 100%; /* 전체 너비를 사용하여 중앙 정렬 */
  display: flex;
  justify-content: left; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}
