/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 전체 배경 설정 */
body {
  background-color: #ffffff; /* 배경색을 흰색으로 변경 */
  color: #000000; /* 텍스트 색상을 검정색으로 변경 */
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  height: 100%;
}
