/* Home.module.css */
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* 배경 색상 */
  color: #333; /* 텍스트 색상 */
}

.productList {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 그리드 레이아웃 */
  gap: 20px;
  margin-top: 20px;
}

.productList > div {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
