.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* 헤더가 항상 최상단에 있도록 설정 */
}

.main {
  flex: 1;
  margin-top: 100px; /* 헤더의 높이만큼 여백 추가 */
  padding: 20px;
}

.footer {
  margin-top: auto;
}
